conda {

    enabled = true

}


process {

    withName: FASTQC {

        conda = 'bioconda::fastqc=0.12.1'

    }

    withName: TRIMMOMATIC {

        conda = 'bioconda::trimmomatic=0.33'

    }

    withName: MULTIQC {

        conda = 'bioconda::multiqc=1.35'

    }

    withName: SALMON_INDEX {

        conda = 'bioconda::salmon'

    }

    withName: SALMON_QUANT {

        conda = 'bioconda::salmon'

    }

    withName: R_ANALYSIS {

        conda = "$projectDir/envs/r_analysis.yml"

    }

    withName: SEQKIT_FQ2FA {

        conda = 'bioconda::seqkit=2.8.2'

    }

}
